
<h1>I Love to Dance!</h1>
<br />
<h2>I took first at the AAU National Jr. Olympics in 2019</h2>
<img src="Jr Olympics Podium.jpeg" height="400" />
<br />
<br />
<h2>I competed all throughout highschool</h2>
<img src="Open Rythme.jpeg" height="400" />
<br />
<br />
<p>
    I started dancing my sophomore year of highschool because of my sisters who roped me into it.
    At the time I was competitively playing soccer for a club in my county, but my sisters convinced me dancing would help me with the ladies.
</p>
<p>
    So I started getting out of my shell and ballroom dancing and training my body to compete in arial lift dance.
    I soon became a top competitor as I invested more time and led a team to many competitions and even medals.
</p>
<br />
 